<nav class="navbar" [@transparentBackground]="isTransparent ? 'true' : 'false'">
  <div class="container-fluid g-0 d-flex justify-content-between caption">
    <div class="logo-container">
      <img src="header/logo.svg" class="p-3 logo pointer" alt="logo" (click)="onClickHome()"/>
    </div>
    <div class="d-flex d-lg-none p-3 pointer" (click)="toggleCollapse()">
      <img src="{{ toggleIcon }}" class="icon" alt="menu" />
    </div>
    <div class="menu-container" [ngClass]="{'collapsed': isScreenLarge && isCollapsed,'no-collapsed': !isScreenLarge && !isCollapsed}" @slideToggle>
      <a class="mx-4 pointer nav-item" (click)="onClickHomeAndScrollTo(routes.Offer)">Usługi</a>
      <a class="mx-4 pointer nav-item" (click)="onClickHomeAndScrollTo(routes.AboutMe)">O mnie</a>
      <a class="mx-4 pointer nav-item" (click)="onClickHomeAndScrollTo(routes.Cooperation)">Współpraca</a>
      <a class="mx-4 pointer nav-item" (click)="onClickHomeAndScrollTo(routes.Footer)">Kontakt</a>
    </div>
  </div>
</nav>

<div [class.dim-background]="!isCollapsed"></div>