.container-fluid {
  background-color: black;
  color: white;
}

.caption,
.subtitle {
  text-align: center;
}

.container-border {
    border: 0.5px white solid;
    border-bottom: 0;
}

.text-uppercase {
  text-transform: uppercase;
  font-weight: 600;
}

.copyright-space {
  height: 5rem;
}