<div class="container-fluid">
  <div class="container">
    <div class="row py-5 d-flex justify-content-between">
      <div class="col-12 col-md-5">
        <div class="subtitle mx-5">Uprzedź sytuację i bądź gotów bronić swoich praw!</div>
        <div class="pt-4 caption">
          Dzięki mojemu wsparciu możesz skoncentrować się na prowadzeniu firmy lub rozwijaniu kariery, nie martwiąc się o kwestie prawne.
        </div>
      </div>
      <div class="col-12 col-md-5 caption">
        <div class="subtitle pt-5 pt-md-0 mx-5">Umów się na konsultacje online!</div>
        <div class="pt-4 caption">
          Zapraszam do skorzystania z możliwości konsultacji online. Wystarczy, że napiszesz maila, podając swoje dane oraz krótko opisując pytanie, zagadnienie prawne lub problem.<br />Po otrzymaniu wiadomości, skontaktuję się z Tobą w celu umówienia terminu spotkania oraz ustalenia szczegółów.<br />Po uiszczeniu opłaty, spotkamy się na konsultacji online, gdzie poznasz dalsze warunki współpracy.
        </div>
      </div>
    </div>
    <div class="container-border p-5">
      <div class="row d-flex justify-content-between">
        <div class="col-4 d-flex flex-column align-items-start">
          <div class="subtitle">Kontakt</div>
          <div class="pt-3 pb-2">kancelaria&#64;legalnyhr.pl</div>
          <div>+48 518 272 333</div>
        </div>
        <div class="col-4 d-flex flex-column align-items-end">
            Polityka prywatności
        </div>
      </div>
      <div class="copyright-space"></div>
      <div>
        &copy;2024 Kancelaria Radcy Prawnego Angelika Czarnecka
      </div>
    </div>
  </div>
</div>
