section {
    background-color: black;
    color: white;
}

.name {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.2em;
    line-height: 30px;
}

.title {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.1em;
    line-height: 20px;
}

.about-me {
    font-size: 13px;
    font-weight: 300;

}

hr {
    border: none;
}