section {
  background-color: black;
  color: white;
}

.photo img {
  max-width: 100%;
  height: auto;

  @media (max-width: 992px) {
    max-width: 70%;
  }
}

.line-container {
    width: 100%;
}

.line {
    border-top: white 0.5px solid;
    height: 0.5px;
    width: 80%;
}

.name {
  font-weight: 600;
  letter-spacing: 0.2em;
  line-height: 30px;
}

.title {
  font-weight: 600;
  letter-spacing: 0.1em;
  line-height: 20px;
}

.about-me {
  font-weight: 300;
}

hr {
  border: none;
}
