<section>
  <div class="container py-5">
    <div class="row">
      <div class="col col-lg-5 col-12">
        <div>PHOTO</div>
      </div>
      <div class="col col-lg-7 col-12">
        <div class="row d-flex">
          <div class="col-4">
            <div class="name font-md">ANGELIKA ​CZARNECKA</div>
            <div class="title pt-3 font-sm">RADCA PRAWNY <br />MEDIATOR</div>
          </div>
          <div class="col col-md-8 about-me font-sm">
            Jestem radcą prawnym z pasją do rozwiązywania ​najtrudniejszych wyzwań prawnych związanych z zatrudnieniem. Z moim wsparciem prawnym Twoja ​firma może działać pewnie, a każdy pracownik poczuć ​się bezpiecznie. <hr>Moje doświadczenie obejmuje zarówno doradztwo ​prawne, jak i reprezentację w skomplikowanych sporach ​sądowych, gdzie zawsze dążę do ochrony interesów ​moich klientów. Wierzę, że solidna obrona praw ​pracodawców i pracowników to klucz do budowania
            ​bezpiecznego środowiska pracy.
          </div>
        </div>
        <div class="row d-flex pt-5">
          <div class="col-4">
            <div class="title font-sm">TWÓJ EKSPERT Z ZAKRESU PRAWA <br>PRACY I HR!</div>
          </div>
          <div class="col col-md-8 about-me font-sm">
            Jako mediator, tworzę przestrzeń do konstruktywnego ​dialogu, umożliwiając stronom sporych konfliktów ​dojście do porozumienia bez potrzeby angażowania ​sądu. Moją misją jest nie tylko ochrona praw klientów, ​ale także budowanie mostów między nimi a ich ​przeciwnikami. Wierzę, że przy odpowiednim podejściu ​każdy spór można rozwiązać z korzyścią dla obu stron. <hr>Na co dzień dzielę się swoją wiedzą prowadząc ​konsultację i szkolenia, które pomagają firmom oraz ​pracownikom lepiej zrozumieć prawo pracy i unikać ​kosztownych błędów. Moje zaangażowanie i dbałość o szczegóły sprawiają, że klienci czują się pewnie i bezpiecznie, wiedząc, że ich interesy są w dobrych ​rękach.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
