.offer-container {
    padding: 3em 4.5em 0 4.5em;
}

.main-title {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -0.05em;
    border-bottom: 0.5px solid #2b2b2b;
    display: inline-block;
}

.line {
    border-left: 0.5px solid #2b2b2b;
    position: absolute;
    height: 80%;
    width: 0.5px;
    top: 100vh;
    left: 50%;
}

.offer-box {
    padding-bottom: 20px;
}

.title {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.03em;
}

.offer-text {
    line-height: 25px;
    letter-spacing: -0.03em;
    font-weight: 300;
}