@use "../../styles/global" as global;

.container-fluid {
  background-color: global.$background-light;
  color: global.$text-dark;
  position: relative;
}

.title-large {
  border-bottom: 0.5px solid global.$text-dark;
  display: inline-block;
}

.offer-container {
  padding: 0 4.5em 0 4.5em;
}

.offer-item {
  padding: 0.9rem 0;
}

.offer-item:last-child {
  padding: 0;
}