@import "bootstrap/scss/bootstrap-grid";
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Libre Franklin", sans-serif;
}

body {
  margin: 0;
  color: #2b2b2b;
  background-color: #edf0f2;
}

.font-lg {
  font-size: 2rem;
}

@media (max-width: 992px) {
  .font-lg {
    font-size: 1.5rem;
  }

  @media (max-width: 768px) {
    .font-lg {
      font-size: 1.25rem;
    }
  }

  @media (max-width: 576px) {
    .font-lg {
      font-size: 1rem;
    }
  }
}

.font-md {
  font-size: 1.5rem;
}

@media (max-width: 1200px) {
  .font-md {
    font-size: 1.2rem;
  }

  @media (max-width: 768px) {
    .font-md {
      font-size: 0.9rem;
    }
  }

  @media (max-width: 576px) {
    .font-md {
      font-size: 0.75rem;
    }
  }
}

.font-sm {
  font-size: 1rem;
  line-height: 22px;
}

@media (max-width: 1200px) {
  .font-sm {
    font-size: 0.8rem;
    line-height: 19px;
  }

  @media (max-width: 992px) {
    .font-md {
      font-size: 0.8rem;
    }
  }
}
