<div class="container-fluid g-0 d-flex justify-content-center video-wrapper">
  <video autoplay muted loop>
    <source src="home/home_video.mp4" type="video/mp4" />
  </video>
  <div class="container d-flex flex-column justify-content-end">
    <div class="row justify-content-center mx-5 mx-lg-0">
      <div
        class="col-12 col-lg-6 d-flex flex-column justify-content-center align-items-center logo-container-border"
      >
        <div class="m-5"></div>
        <img src="home/logo_white.svg" class="logo" alt="logo" />
        <div class="m-5"></div>
        <div class="title p-5">
          Zyskaj partenra który zadba <br />o Twoje interesy!
        </div>
      </div>
    </div>
  </div>
</div>
