<div class="video-wrapper">
  <video class="video" autoplay muted loop>
    <source src="home/home_video.mp4" type="video/mp4" />
  </video>
</div>
<div class="container-fluid p-0">
  <div class="row full-height m-0">
    <div class="d-none d-lg-block col-lg-6"></div>
    <div class="col-lg-6 d-flex justify-content-center justify-content-lg-start align-items-end">
        <div class="logo-container d-flex flex-column ">
            <div class="logo-wrapper d-flex justify-content-center align-items-center">
                <img src="home/logo_white.svg" class="logo" alt="" />
            </div>
            <div class="title d-flex px-5">
                <div >ZYSKAJ PARTNERA KTÓRY ZADBA <br>O TWOJE INTERESY!</div>
                <div class="arrow"></div>
            </div>
        </div>
    </div>
  </div>
</div>
