@use "../../styles/global" as global;

.container-fluid {
  background-color: global.$background-light;
  color: global.$text-dark;
  position: relative;
}

.cooperation-item {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: solid 0.5px global.$text-dark;
}

.cooperation-item:first-child {
  padding-top: 0;
}

.cooperation-item:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.cooperation-image {
  width: 100%;
  max-height: 60px;
}